body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  /* background: url(../images/background.png)no-repeat; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 1000px;
  /* background-color: rgb(198, 240, 233); */
  background-image: linear-gradient(rgb(244, 231, 170) ,#670fd3);
}
.contactsMain3{
  margin-top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
 }


 .playNav {
  margin-bottom: 20px;
  background-image: -webkit-linear-gradient(#d632cb, #0f8fea);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 100px;
    animation: 1s ease-out 0s 1 slideInFromTop
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.playBtn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    background-image: -webkit-linear-gradient(#d632cb, #0f8fea);
    border-radius: 10%;
    text-align: center;
    margin: 1px auto;
    width: 100px;
    height: 50px;
    /* padding: 20px;  */
    bottom: 0px;
  }

.playBtn:hover {
    transform: scale(1.2);
    background-image: -webkit-linear-gradient(#deeca3, #137dc8);
  box-shadow: 0 12px 24px rgba(97, 96, 96, 0.844);
}


 a {
  text-decoration: none;
  color: white;
  z-index: 1;
  padding: 3em;
margin: -2em;
 }

#dragon {
  margin-top: -90%;
  width: 500px;
}

 .animation {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 200px;
  animation: 2s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.boxes, .boxes2, .boxes3 {
  z-index: 1;
}
.boxes {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin-left: -50%;
}
.boxes2 { 
  animation: 2s ease-out 0s 1 slideInFromLeft2;
  margin-left: 5%;
 
}
.boxes3 { 
  animation: 3s ease-out 0s 1 slideInFromLeft3;
  margin-left: 5%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft3 {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

article {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  width: 200px;
}

h3 {
  color: white;
}
.homeH {
  margin-top: -50%;
  margin-left: 30%;
}
article div, article h2 {
  margin-left: 37%;
  width: 200px;
  color: white;
}

.firstImg {
  border-radius: 50%;
  height: 75px;
  margin-top: 10px;
  margin-left: -30px;
  /* animation: 1s ease-out 0s 1 slideInFromRight;
  animation: rotation 2s infinite linear; */
  animation: moveIcon 3s ease-in-out alternate, spin 12s linear infinite;
}
@keyframes moveIcon {
  0% {
    transform: translatex(400px) rotate(0deg);
  }
  100% {
    transform: translatex(0) rotate(360deg);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.lastText {
  display: none;
}
.footer1 {
  margin-top: 6%;
  /* margin-top: 42%; */
  margin-left: 30%;
  color: white;
}
.footer1 span {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .boxes, .boxes2, .boxes3 {
    margin-top: -5%;
  }
  .lastText {
    display: block;
    position: absolute;
    color: white;
  text-shadow:  2px 1px 2px rgb(131, 100, 24);
    width: 400px;
    margin-top: 15%;
    margin-left: -35%;
    animation: 2s ease-out 0s 1 slideInFromLeft2;
  }
.footer1{
  /* margin-left: 40%; */
  margin-top: -1%;
  color: rgb(255, 0, 208);
  text-shadow:  2px 1px 2px white;
}
.footer1 span {
  color: rgb(255, 0, 208);
  text-shadow:  2px 1px 2px white;
}
}


h5 {
  position: absolute;
  margin-top: 1%;
  width: 200px;
}


